body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url("white.jpg");
    background-size: cover;
}

button {
    padding: 10px 20px;
    font-size: 17px;
    margin: 5px;
    cursor: pointer;
}

#count {
    font-weight: bold;
    font-size: 40px;
    color: rgb(15, 15, 65);
}