* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

nav img {
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 0 20px;

}

.hero> :nth-child(1) {
    font-size: 50px;
    font-weight: 800;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 18px;
    font-weight: 300;
}

.separation {
    height: 3px;
    background: linear-gradient(to right, #e50914, #b81d24);
    margin-bottom: 0;
    margin-top: -80px;
    box-shadow: 0 -10px 40px rgba(229, 9, 20, 0.3);
}

.btn {
    padding: 3px 15px;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    cursor: pointer;

}

.btn-red {
    background-color: #E50914;
    color: white;
    padding: 3px 25px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    padding: 20px 30px;

}

.main input {
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;


}

.btn-red-sm {
    background-color: #E50914;
    color: white;
    padding: 5px 16px;
    font-size: 14px;
    border: none;
}

.Trending {
    padding: 40px 60px;
    background: black;
}

.Trending h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

.Trending-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.Trending-card {
    position: relative;
    min-width: 180px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.Trending-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.Trending-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rank {
    position: absolute;
    left: -15px;
    bottom: -10px;
    font-size: 100px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 2px white;
    z-index: 2;
}

.reasons {
    padding: 60px 60px;
    background: black;
    color: white;
}

.reasons h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.reasons-card {
    position: relative;
    background: linear-gradient(135deg, #1c1b3a, #120a1a);
    border-radius: 18px;
    padding: 25px;
    min-height: 260px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reasons-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.reasons-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.reasons-card p {
    font-size: 16px;
    line-height: 1.5;
}

.reasons-card img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
}

.faq {
    background: #000;
    color: #fff;
    padding: 60px 10%;
}

.faq h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.faq-item {
    background: #303030;
    margin-bottom: 10px;
}

.faq-item summary {
    list-style: none;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-question {
    width: 100%;
    background: #303030;
    color: white;
    border: none;
    padding: 22px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    cursor: pointer;
}

.faq-question:hover {
    background: #404040;
}

.faq-answer {
    background: #303030;
    padding: 0 22px 22px;
    font-size: 18px;
    line-height: 1.5;
}

.faq-item[open] .faq-icon {
    transform: rotate(45deg);
}


.footer {
    padding: 60px 8%;
    color: #b3b3b3;
    background: black;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.footer p {
    margin-bottom: 20px;
    font-size: 17px;
}

.footer-column p {
    margin-bottom: 16px;
    font-size: 14px;
    color: #b3b3b3;
    cursor: pointer;
}

.footer-column p:hover {
    text-decoration: underline;
}