* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

select {
    margin-top: 20px;
    padding: 8px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.quote-box {
    background: pink;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px;
    margin-bottom: 20px;
    width: 320px;
}

.quote-text {
    font-size: 18px;
    line-height: 1.5;
}

button {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color:burlywood;
    cursor: pointer;
    transition: transform 0.2s ease; 
    background: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.light {
    background: #f4f4f4;
    color: #222;

}

.dark {
  background: #121212;
  color: white;
}

.colorful {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: black;
}